# Node / build
node_modules/
dist/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and OS files
.DS_Store
.vscode/
.idea/

# Coverage
coverage/

# Hardhat
cache/
artifacts/
.vercel/
.vercel
.env*
